<!-- Header -->
<header class="bg-blue-600 text-white p-4 shadow-md">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-2xl font-bold">Angular Framework Challenges</h1>
        <nav>
            <ul class="flex space-x-4">
                <li><a routerLink="/welcome" routerLinkActive="routeActive" class="hover:text-gray-200">Home</a></li>
                <li><a routerLink="/contact" routerLinkActive="routeActive" class="hover:text-gray-200">Contact</a></li>
            </ul>
        </nav>
    </div>
</header>

<div class="container mx-auto flex mt-8">

    <!-- Sidebar -->
    <aside class="w-64 bg-white p-4 shadow-md">
        <ul>
            <li class="mb-4">
                <a routerLink="/projection" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">001Projection</a>
            </li>
            <li class="mb-4">
                <a routerLink="/crud" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">002 Crud</a>
            </li>
            <li class="mb-4">
                <a routerLink="/pipe-puro" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">003 Pipe</a>
            </li>
            <li class="mb-4">
                <a routerLink="/anchor-scrolling" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">004 Anchor scrolling</a>
            </li>
            <li class="mb-4">
                <a routerLink="/router-input" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">005 Router Input</a>
            </li>
            <li class="mb-4">
                <a routerLink="/simple-animation" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">006 Simple animation</a>
            </li>
            <li class="mb-4">
                <a routerLink="/lazyload-component" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">007 Lazyload Component</a>
            </li>
            <li class="mb-4">
                <a routerLink="/directive-enhancement" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">008 Directive NgForEmpty</a>
            </li>
            <li class="mb-4">
                <a routerLink="/directive-role" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">009 Directive Has Role</a>
            </li>
            <li class="mb-4">
                <a routerLink="/styling" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">010 Styling</a>
            </li>
            <li class="mb-4">
                <a routerLink="/injection-token" routerLinkActive="routeActive"
                    class="block py-2 px-4 rounded hover:bg-blue-600 hover:text-white">011 Injection Token</a>
            </li>
        </ul>
    </aside>

    <!-- Main Content -->
    <main class="flex-1 bg-white p-8 shadow-md ml-8">
        <router-outlet />
    </main>
</div>

<!-- Footer -->
<footer class="bg-blue-600 text-white p-4 mt-8 shadow-md">
    <div class="container mx-auto text-center">
        <p>&copy; 2024 Angular Framework. All rights reserved.</p>
    </div>
</footer>